apiVersion: v1
kind: Service
metadata:
  name: pihole-dns-lb
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 10.24.24.81
  ports:
    - name: dns-tcp
      port: 53
      protocol: TCP
      targetPort: 53
    - name: dns-udp
      port: 53
      protocol: UDP
      targetPort: 53
  selector:
    app: pihole
