apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: {{ host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ service }}
                port:
                  number: {{ port }}
{% if tls %}
  tls:
    - hosts:
        - {{ host }}
      secretName: {{ tls_secret }}
{% endif %}
