---
# 1. Asegurar que exista el directorio local donde guardaremos el kubeconfig
- name: Ensure local kubeconfig directory exists
  become: false
  file:
    path: "{{ playbook_dir }}/kubeconfig"
    state: directory
    mode: '0755'
  delegate_to: localhost

# 2. Obtener el kubeconfig desde el nodo master
- name: Fetch kubeconfig from master
  fetch:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "{{ playbook_dir }}/kubeconfig/k3s.yaml"
    flat: yes
  delegate_to: "{{ groups['master'][0] }}"

# 3. Reemplazar 127.0.0.1 por la IP del master
- name: Fix server address in local kubeconfig
  become: false
  replace:
    path: "{{ playbook_dir }}/kubeconfig/k3s.yaml"
    regexp: '127.0.0.1'
    replace: "{{ hostvars[groups['master'][0]].ansible_host }}"
  delegate_to: localhost

- name: Ensure ~/.kube directory exists on localhost
  become: false
  file:
    path: "~/.kube"
    state: directory
    mode: '0755'
  delegate_to: localhost

# 4. Instalar kubeconfig en ~/.kube/config local
- name: Install kubeconfig locally
  become: false
  copy:
    src: "{{ playbook_dir }}/kubeconfig/k3s.yaml"
    dest: "~/.kube/config"
    mode: '0600'
  delegate_to: localhost
