- name: Deploy all ingress resources
  hosts: master
  become: yes
  vars_files:
    - ../group_vars/k3s_services.yml
  tasks:
    - name: Apply ingress for each service
      include_role:
        name: ingress
      loop: "{{ k3s_ingresses }}"
      loop_control:
        loop_var: ingress_item
      vars:
        name: "{{ ingress_item.name }}"
        namespace: "{{ ingress_item.namespace }}"
        host: "{{ ingress_item.host }}"
        service: "{{ ingress_item.service }}"
        port: "{{ ingress_item.port }}"
        tls: "{{ ingress_item.tls }}"
        tls_secret: "{{ ingress_item.tls_secret }}"
