- name: Install K3s master
  hosts: master
  become: true
  tasks:
    - name: Install K3s master
      shell: |
        curl -sfL https://get.k3s.io | sh -s - server \
          --write-kubeconfig-mode 644 \
          --node-name {{ inventory_hostname }}

    - name: Get K3s master token
      shell: cat /var/lib/rancher/k3s/server/node-token
      register: k3s_token

    - name: Save token and IP for workers
      set_fact:
        k3s_master_token: "{{ k3s_token.stdout }}"
        k3s_master_ip: "{{ ansible_host }}"

- name: Install K3s workers
  hosts: workers
  become: true
  tasks:
    - name: Install K3s worker
      shell: |
        curl -sfL https://get.k3s.io | \
        K3S_URL=https://{{ hostvars['hpmini5'].ansible_host }}:6443 \
        K3S_TOKEN={{ hostvars['hpmini5'].k3s_master_token }} \
        sh -s - agent --node-name {{ inventory_hostname }}
