- name: Install K3s master
  hosts: master
  become: true

  tasks:

    - name: Install K3s master
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --write-kubeconfig-mode=644 --node-name {{ inventory_hostname }}" sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Get K3s master token
      shell: cat /var/lib/rancher/k3s/server/node-token
      register: k3s_token

    - name: Save token and IP for workers
      set_fact:
        k3s_master_token: "{{ k3s_token.stdout }}"
        k3s_master_ip: "{{ ansible_host }}"

    - name: Copy kubeconfig to controller
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ~/.kube/config
        flat: yes

    - name: Fix kubeconfig server IP
      delegate_to: localhost
      become: false
      replace:
        path: ~/.kube/config
        regexp: '127\.0\.0\.1'
        replace: "{{ hostvars[inventory_hostname].ansible_host }}"


- name: Install K3s workers
  hosts: workers
  become: true

  tasks:

    - name: Install K3s worker
      shell: |
        curl -sfL https://get.k3s.io | \
        K3S_URL=https://{{ hostvars[groups['master'][0]].ansible_host }}:6443 \
        K3S_TOKEN={{ hostvars[groups['master'][0]].k3s_master_token }} \
        INSTALL_K3S_EXEC="agent --node-name {{ inventory_hostname }}" \
        sh -
      args:
        creates: /usr/local/bin/k3s
#Reemplazar 127.0.0.1 en kubeconfig
#curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --tls-san 10.24.24.5 --write-kubeconfig-mode=644" sh -
