apiVersion: v1
kind: Service
metadata:
  name: {{ pihole.name }}
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ pihole.lb_ip }}"
  selector:
    app: {{ pihole.name }}
  ports:
    - name: web
      port: {{ pihole.web_port }}
      targetPort: {{ pihole.web_port }}
      protocol: TCP

    - name: dns-tcp
      port: {{ pihole.dns_port }}
      targetPort: {{ pihole.dns_port }}
      protocol: TCP

    - name: dns-udp
      port: {{ pihole.dns_port }}
      targetPort: {{ pihole.dns_port }}
      protocol: UDP
