- name: Ensure python3-venv is installed
  apt:
    name: python3-venv
    state: present
    update_cache: true
  become: true

- name: Create virtual environment for Kubernetes Python client
  command: python3 -m venv /opt/k8s-venv
  args:
    creates: /opt/k8s-venv/bin/activate
  become: true

- name: Install Kubernetes Python client inside venv
  command: /opt/k8s-venv/bin/pip install kubernetes
  become: true
